@layer reset, base, tokens, recipes, utilities;

@font-face {
    font-family: 'Sans Text';
    src: url('/fonts/SansText.woff2') format('woff2');
}

* {
    font-family:
        'Sans Text',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'ss01', 'ss17', 'ss15', 'ss19';
}

body {
    color: '#151515';
}

button {
    cursor: 'pointer';
}

@keyframes gradientBorderSlide {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-border {
    display: inline-flex;
    padding: 1px;
    border-radius: 9999px;
    background: linear-gradient(
        90deg,
        #845ec2,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871,
        #845ec2,
        #fff
    );
    background-size: 300% 300%;
    animation: gradientBorderSlide 8s linear;
}

.gradient-border > button {
    border-radius: inherit;
    position: relative;
}
